{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - WEB.Detector{% else %}Welcome to WEB.Detector{% endif %}
{% endblock %}

{% block navbar %}
    <style>
        .transparent50 {
            filter: alpha(Opacity=50);
            opacity: 0.5;
        }
    </style>

    <div id="exTab1" class="container">
        <div class="navbar-header">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url_for('index') }}">WEB.Detector</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {#                                    <li class="nav-item"><a class="active"#}
                            {#                                                            href="{{ url_for('index') }}">WEB.Detector</a></li>#}
                            <li class="nav-item"><a href="{{ url_for('detectnow') }}">DETECT IMAGE</a></li>
                            <li class="nav-item"><a href="{{ url_for('webcam') }}">DETECT WEBCAM</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a href="{{ url_for('settings') }}">SETTINGS</a></li>

                            <img vertical-align="center" href="{{ url_for('index') }}"
                                 src="{{ url_for('display_image', filename='dl.jpg') }}"
                                 width="40" class="transparent50">
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">


        {# application content needs to be provided in the app_content block #}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}