{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - WEB.Detector{% else %}Welcome to WEB.Detector{% endif %}
{% endblock %}

{% block navbar %}
    <style>
        .transparent50 {
            filter: alpha(Opacity=50);
            opacity: 0.5;
        }
    </style>

    <div id="exTab1" class="container">
        <div class="navbar-header">
            <table>
                <td>
                    <img href="{{ url_for('index')}}" src="{{ url_for('display_image', filename='dl.jpg') }}" width="40" class="transparent50">
                </td>
                <td>
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="active" href="{{ url_for('index') }}">WEB.Detector</a></li>
                        <li class="nav-item"><a href="{{ url_for('detectnow') }}">DETECT NOW</a></li>
                        <li class="nav-item"><a href="{{ url_for('settings') }}">SETTINGS</a></li>
                    </ul>
                </td>
            </table>
        </div>
    </div>


{% endblock %}

{% block content %}
    <div class="container">


        {# application content needs to be provided in the app_content block #}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}