{% extends "base.html" %}


{% block app_content %}
    <p>Select an image to upload and detect<p>

    <form method="post" action="/upload_image" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" class="form-control" name="file" multiple="false" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" class="btn btn-primary" value="Detect">
        </p>

    </form>

    {% if filename %}
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}" width="100%">
            <img src="{{ url_for('display_image', filename='result0.jpg') }}" width="100%">
            <img src="{{ url_for('display_image', filename='result1.jpg') }}" width="100%">
            <img src="{{ url_for('display_image', filename='result2.jpg') }}" width="100%">

        </div>
    {% endif %}

    {#    <p>#}
    {#        {% with messages = get_flashed_messages() %}#}
    {#            {% if messages %}#}
    {#                <ul class=flashes>#}
    {#                    {% for message in messages %}#}
    {#                        <li>{{ message }}</li>#}
    {#                    {% endfor %}#}
    {#                </ul>#}
    {#            {% endif %}#}
    {#        {% endwith %}#}
    {#    </p>#}

    {#    <div class="progress">#}
    {#        <div class="progress-bar" style="width: 80%">#}
    {#            <span>80% Complete</span>#}
    {#        </div>#}
    {#    </div>#}



{% endblock %}