{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <style>
        @-webkit-keyframes scroll {
            0% {
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
            }
            100% {
                -webkit-transform: translate(-100%, 0);
                transform: translate(-100%, 0)
            }
        }

        @keyframes scroll {
            0% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(-100%, 0)
            }
        }

        .marquee {
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
        }

        .marquee * {
            display: inline-block;
            padding-left: 100%;
            -webkit-animation: scroll 21s infinite linear;
            animation: scroll 21s infinite linear;
        }

        .marquee *:hover {
            -webkit-animation-play-state: paused;
            animation-play-state: paused;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 marquee">
                <h1>WEB.Detector is the most powerful tool for recognizing objects in images. Just upload an image and
                    you'll see what's in there. Usability, fast, beautiful... @Alexey Poptsov, Deep Learning School, January 2023, https://t.me/alexeypoptsov
                </h1>
            </div>
        </div>
    </div>


{% endblock %}