{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="container">
        <div class="page-header">
            <p class="lead">WEB.Detector is the most powerful tool for recognizing objects in images. Just upload an
                image, and you'll see what's in there. Usability, fast, beautiful...</p>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">IMAGE DETECTING</h2>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-5">
                        <img vertical-align="center" href="{{ url_for('detectnow') }}"
                             src="{{ url_for('display_image', filename='di.jpg') }}"
                             width="300"></div>
                    <div>
                        <h4>Detecting and counting objects in image</h4>
                        <p>WEB.Detector analyzes the loaded image according to several models. Detects and counts the
                            number of objects by class. In addition, the performance of each model is evaluated.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="hr">
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">WEBCAM DETECTING</h2>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-5">
                        <img vertical-align="center" href="{{ url_for('detectnow') }}"
                             src="{{ url_for('display_image', filename='dwc.jpg') }}"
                             width="300"></div>
                    <div>
                        <h4>Online detection of objects from broadcast webcam</h4>
                        <p>WEB.Detector analyzes the live feed from the webcam. Detects and counts objects.
                            Additionally, the stream processing speed is calculated. The detection can be performed by
                            any of the models available in the detector.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="footer">
        Alexey Poptsov, @alexeypoptsov, Deep Learning school, january 2023
    </footer>
{% endblock %}