{% extends "base.html" %}

{#{% block title %}{{ context.title }}{% endblock %}#}

{% block app_content %}
    <b>Detector settings</b>
    <table id="myTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
        <tr>
            <th> Parameter</th>
            <th> Value</th>
            <th> Adv value</th>
        </tr>
        </thead>

        <tbody>
        {% for parameter in context.parameters %}
            <tr>
                <td> {{ parameter.name }}</td>
                <td> {{ parameter.value }}</td>
                <td> {{ parameter.advvalue }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}