{% extends "base.html" %}

{% block app_content %}
    <body>
    <h1> Bootstrap Datatable </h1>
    <table id="myTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
        <tr>
            <th> Name</th>
            <th> Place</th>
            <th> Position</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> Emma Thor</td>
            <td> NYK</td>
            <td> Technical writer</td>
        </tr>
        <tr>
            <td> josef</td>
            <td> bijing</td>
            <td> designer</td>
        </tr>
        </tr>
        <td> josef</td>
        <td> germany</td>
        <td> co-ordinator</td>
        </tr>
        <tr>
            <td> jyoti</td>
            <td> pune</td>
            <td> manager</td>
        </tr>
        <tr>
            <td> jimmy jain</td>
            <td> NYk</td>
            <td> sales</td>
        </tr>
        <tr>
            <td> john denmar</td>
            <td> san Frans</td>
            <td> developer</td>
        </tr>
    </table>
    </body>

{% endblock %}